@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body{
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
}

section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.main1{
    width: 345px;
    padding: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 20px  rgba(0, 0, 0, 0.496);
    border-radius: 15px;
}
.main2{
    width: 345px;
    padding: 30px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 20px  rgba(0, 0, 0, 0.496);
    border-radius: 15px;
}

h1{
    font-size: 24px;
    color: #63d711;
    font-weight: bold;
}

input{
    font-size: 20px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-family: monospace;
    background-color: rgb(220, 219, 219);
}
.input{
    text-align: center;
    padding-left: 15px;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-family: 'Nova Square', sans-serif;
    font-size: 18px;
    background-color: #63d711;

}
.botao1{
    margin: 20px;
}

.botoes{
    margin-bottom: 20px;
}

.msg{
    background-color: rgb(220, 219, 219);
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0px;

}